/* mobile -> max-width: 767px */


/* navbar */
nav {
    padding: 1.3rem 2rem;
}

.nav-item {
    display: none;
}

.mobile-menu {
    display: none;
    background-color: #A3BED7;
    width: 100%;
    position: absolute;
    top: 100px;
    z-index: 9999;
}

.mobile-menu-icon {
    display: block;
}

.mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
}

.mobile-menu .nav-item {
    display: block;
    padding-top: 1.2rem;
}

.open {
    display: block;
}





/* tela inicial */

.titulo-inicio {
    font-size: 25px;
}

.botao-inicio a {
    width: 75%;
    padding: 30px 60px;
}


/* faq */

#container {
    display: flex;
    flex-direction: column;
    gap: 22px;
    width: 315px;
    padding: 0 17px 30px;
}




/* cadastro */

.titulo {
    padding: 35px 0;
    text-align: center;
}

.box {
    width: 300px;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0 auto;
    padding-bottom: 60px;
}

fieldset {
    width: 100%;
    border: solid 1px #000;
    border-radius: 5px;
    padding: 2rem;
    background-color: #A7C7A9;

}

.inputUser {
    background: none;
    border-radius: 5px;
    height: 1.6rem;
    font-size: 13px;
    width: 100%;
    border: 1px solid #000;
}

.inputBox {
    margin-bottom: 30px;
}

.btn {
    color: #000;
    background-color: #A3BED7;
    padding: 1rem 1.5rem;
    border: 1px solid #000;
    border-radius: 6px;
    font-size: 17px;
    cursor: pointer;
}

.btn:hover {
    color: #d8a7b1;
}




/* footer */

.footer-container {
    flex-direction: column;
}

.footer-info {
    margin-top: 10px;
}