/* mobile -> max-width: 767px */


/* navbar */
nav {
    padding: 1.3rem 2rem;
}

.nav-item {
    display: none;
}

.mobile-menu {
    display: none;
    background-color: #A3BED7;
    width: 100%;
    position: absolute;
    top: 100px;
    z-index: 9999;
}

.mobile-menu-icon {
    display: block;
}

.mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
}

.mobile-menu .nav-item {
    display: block;
    padding-top: 1.2rem;
}

.open {
    display: block;
}





/* tela inicial */

.titulo-inicio {
    font-size: 25px;
}

.botao-inicio a {
    width: 75%;
    padding: 30px 60px;
}


/* faq */

#container {
    display: flex;
    flex-direction: column;
    gap: 22px;
    width: 315px;
    padding: 0 17px 30px;
}




/* integrantes */

.container-perfis {
    display: flex;
    padding: 0 2rem;
    padding-bottom: 3rem;
    flex-direction: column;
    gap: 4rem;
    margin-top: 1.5rem;
    font-size: 18px;
}

.foto {
    width: 180px;
    height: 240px;
}


.info {
    font-family: "Jost", sans-serif;
    margin: auto 12px;
}



/* cadastro */

.titulo {
    padding: 35px 0;
    text-align: center;
}

.box {
    width: 285px;
    font-size: 1.23rem;
    padding-bottom: 60px;
}

fieldset {

    padding: 1.6rem;
}

.inputUser {
    height: 1.55rem;
    font-size: 13px;
}

.inputBox {
    margin-bottom: 30px;
}

.btn {
    padding: .8rem 1.2rem;
}





/* footer */

footer {
    background-color: #A3BED7;
    color: #000;
    padding: 2rem 1rem;
    font-family: "Inter", sans-serif;
}

.footer-container {
    display: flex;
    flex-direction: column;
    width: auto;
}

.footer-nav-title {
    font-size: 20px;
    text-align: center;
}

.footer-links {
    display: flex;
    flex-direction: column;
}

.footer-links a {
    color: #000;
    padding-top: 8px;
    text-align: center;
}

.numeros p {
    padding-top: 8px;
    text-align: center;
}

.coluna-link,
.coluna {
    margin: 30px auto;

}